{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='home/home.css') }}">
{% endblock %}
{% block content %}
<h1 id="greeting">Hi, this is Ayla!</h1>
<table id="per_semester_stats">
<thead>
<tr>
    <th>Semester</th>
    <th>Progress</th>
    <th>Remaining (Lab)</th>
    <th>Average</th>
</tr>
</thead>
<tbody>
{% for stat in stats %}
<tr>
    <td>{{ stat['semester'] }}</td>
    <td><progress value={{ stat['progress'] }} max="100"> {{ stat['progress'] }} %</progress></td>
    <td>{{ stat['remaining'] }} ({{ stat['lab'] }})</td>
    <td>{{ stat['average'] }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
