#content {
    display: grid;
    justify-content: center;
}

#greeting {
    font-size: 5em;
    text-align: center;
}

#per_semester_stats {
    text-align: center;
    border-collapse: collapse;
}

#per_semester_stats th {
    border-bottom: 1px solid black;
}

#per_semester_stats tbody tr:first-child td {
    padding-top: 20px;
}

#per_semester_stats tbody td {
    padding: 10px 0;
}
